@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
:root{
    --primary-color:#15605e;
}
*{
    scroll-behavior: smooth;
}
body{
    font-family: Roboto;
    margin: 0;
    background-color:#eee;
    padding: 0;
}
.logo {
    width: 5rem;
    border: 2px solid #023433;
    border-radius: 50%;
}
.head {
    display: flex;
    background-color: var(--primary-color);
    color: #fff;
    padding:1.2rem;
    justify-content: space-between;
}
.nav-items ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    padding: 0;
    font-size: 1.1rem;
}
.nav-items ul a {
    text-decoration: none;
}
.nav-items ul a li{
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: #fff;
}

.nav-items ul a li:hover { 
    transition: .3s;
    background-color: #fff;
    color: #023433;

}
.login-button {
    text-align: center;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 1.1rem;
    outline: none;
    border: none;
    background-color: #023433;
} 
.login-button:hover{
    transition: .2s ease-out;
    background-color: #fff;
    color: #023433;
    cursor: pointer;
}
.crousel {
    display:flex;
    gap:2rem;
    padding:2rem 10%;
    overflow-x:scroll;
    background-color: #023433;

}
.card-container:nth-last-child(1){
    display:none;
}
.crousel-image{
    width:300px;
}
.crousel-image:hover {
    transition: 0.5s;
    transform:scale(1.05)
}
.search-container{
    display: flex;
    justify-content: center;
    width:80%;
    padding:2rem;
    background-color:#fff;
    margin: 1rem auto;
}
.search-form{
    width:80%;
}
.search-input{
    padding: 1rem;
    font-size:1.2rem;
    border: none;
    width:80%;
    border: 2px solid #1f938f;
    border-right:none;
    
}
.search-input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
    border-right:none;
}
.search-btn {
    padding: 1rem;
    font-size:1.2rem;
    border:none;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #fff;

}
.search-btn:hover{
    background-color: #fff;
    color: var(--primary-color);
    cursor: pointer;
}
.restaurant-count {
    width:80%;
    margin:auto;
    background-color:#fff;
    font-size:2rem;
    padding:2rem;

}
.restaurant-list{
    width:80%;
    margin: 1rem auto;
    margin-top:0;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 2.5rem;
    padding:2rem;
    background-color:#fff
}
.restaurant-list a {
    text-decoration: none;
    color: #023433;
}
.card {
    width:300px;
    padding: 1rem;
}

.card:hover{
    transition: .5s ease;
    transform: translate(-1px, -1px);
    box-shadow: 0px 2px 2px 0 gray;
}

.card > img {
    width:100%;
}
.restaurant-name{
    font-weight: bold;
    font-size: 1.3rem;
}
.restaurant-ratings{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-weight: bold;
}
.restaurant-ratings .rating {

    color: #fff;
    padding: 2px 6px;
    border-radius: 2px;
}
.demo-card{
    width:300px;
    height:300px;
    /* background-color:#ddd; */
    /* background:linear-gradient(90deg, #ddd,#fff,#ddd); */
    animation:load 3s ease-in-out infinite running;
}

@keyframes load {
    0%     {background-color:#ddd;}
    50.0%  {background-color:#f4f4f4;}
    100.0%  {background-color:#ddd;}
    /* 0%     {background:linear-gradient(90deg, #ddd,#fff,#ddd);}
    50.0%  {background:linear-gradient(90deg, #fff,#ddd,#fff);}
    100.0%  {background:linear-gradient(90deg, #ddd,#fff,#ddd);} */
}
.footer {
    text-align:center;
    margin:1rem 0 0 0;
    padding: 1rem;
    background-color: var(--primary-color);
    color:white;
}
/* =================error-page ================================== */
.error-page{
    height: 100vh;
    background: linear-gradient(45deg, rgba(205, 29, 29, 0.298), green) ,url(https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.error-go-back {
    text-decoration: none;
    color: #023433;
    font-size: 2rem;
    background-color: #fff;
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
}

.error-go-back:hover{
    cursor: pointer;
    transition: .2s ;
    background-color: #023433;
    color: #fff;
}
/* ===================== restaurant top details===================== */
.restaurant-info {
    display: flex;
    gap: 2rem;
    color:#fff;
    align-items:center;
    justify-content:center;
    padding: 2rem;
    background: #023433;
    margin-bottom: 1rem;

}
/* .restaurant-info  p{
    margin:0;
} */
.res-image {
    width:100%;
    max-width: 20rem;
}
/* ===================== restaurant item styling =================== */
.res-name{
    font-size:1.6rem;
    margin:0;
    
}
.res-cuisines, .res-locality {
    font-size:1.4rem;
    margin:1rem 0 0 0;
}
.res-ratings{
    display:flex;
    width:100%;
    justify-content:space-between;
    font-size:1.4rem;
    gap: 1rem;

}
.res-ratings >p{
    margin:1rem 0 0 0;
}  
.res-offers {
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid #fff;
    position: relative;
}  
.offers{
    position: absolute;
    transform: translate(-38px, -60px);
    font-size: 1.5rem;
    background: #023433;
    padding: 0.4rem 1rem;
}
.item{
    padding:1rem;
    width: 50%;
    gap: 3rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border:1px solid black; */
    background-color:#fff;

}
.item:hover {
    transition: 0.3s;
    box-shadow: 0 0px 10px 0 #d5d4d4;
    transform:scale(1.01)
}
.item-name{
    font-size:1.2rem;
    font-weight:500;
    font-weight: 600;
    color: #023433;
}
.item-description{
    color:var(--primary-color)
}
.item-image > img{
    width:10rem;
    height:100%;
}