@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
:root{
    --primary-color:#15605e;
}
body{
    font-family: Roboto;
    margin: 0;
    /* background-color:#eee; */
    padding: 0;
}
.logo {
    width: 50px;
}
.head {
    display: flex;
    background-color: var(--primary-color);
    color: #fff;
    padding:2rem;
    justify-content: space-between;
}
.nav-items ul{
    display: flex;
    gap: 2rem;
    padding: 0;
}
.nav-items ul li{
    list-style: none;
} 
.search-container{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.search-input{
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 2px solid #1f938f;
    
}
.search-input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}
.search-btn {
    padding: .5rem 1rem;
    border:none;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #fff;

}
.search-btn:hover{
    background-color: #fff;
    color: var(--primary-color);
    cursor: pointer;
}
.restaurant-list{
    width:90%;
    margin:2rem  auto;
    display:flex;
    flex-wrap:wrap;
    gap: 1rem;
}
.card {
    width:200px;
    height: 300px;
    padding: .5rem;
    box-shadow: 0 1px 0 0 rgb(185, 183, 183);
}
.card:hover{
    transition: .5s ease;
    transform: translate(-1px, -1px);
    box-shadow: 0px 2px 2px 0 gray;
}

.card > img {
    width:100%;
}
.footer {
    text-align:center;
    margin: 0;
    padding: 1rem;
    background-color: var(--primary-color);
    color:white;
}