@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
/* * {
    border: 1px solid red;
    font-family: Roboto;
} */
body{
    font-family: Roboto;
    margin: 0;
    /* background-color:#eee; */
    padding: 0;
}
.logo {
    width: 50px;
}
.head {
    display: flex;
    background-color: #15605e;
    color: #fff;
    padding:2rem;
    justify-content: space-between;
}
.nav-items ul{
    display: flex;
    gap: 2rem;
    padding: 0;
}
.nav-items ul li{
    list-style: none;
} 
.restaurant-list{
    width:90%;
    margin:2rem  auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap: 1rem;
}
.card {
    padding: 1rem;
    width:200px;
    border-radius:5px;
    box-shadow:5px 5px 10px 0 gray;

}
.ratings {
    display:flex;
    justify-content:space-between;
    border-radius:5px;
    margin-top:1rem;
}
.card > img {
    width:100%;
    border-radius:5px;
}
.footer {
    text-align:center;
    padding:1rem;
    margin-top:2rem;
    background-color:#15605e;
    color:white;
}